h1 {
    font-size: 1.2em;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-primary {
    background-color: #03a9f4;
    border-color: #03a9f4;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #016592;
    border-color: #03a9f4;
}

.btn-success {
    background-color: #2ECC71;
    border-color: #2ECC71;
}

.btn-success:hover,
.btn-success:focus {
    background-color: #27ae60;
    border-color: #2ECC71;
}

.submit-button {
    margin-left: 20px !important;
}

.btn-group {
    width: 100%;
    max-height: 50px;
}

.card {
    height: 100%;
}

.card-body {
    padding: 0;
}

.card-header {
    padding: 20px;
}

.list-group-item {
    padding: 0.5rem 1rem
}

.results {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fa-location-dot,
.fa-earth-europe {
    color: #03a9f4;
    ;
}

.custom-select {
    width: 100%;
    height: 50px;
    padding-left: 10px;
}

#frequencyResults h1 {
    font-size: 1.5em;
}

#regionString {
    color: red;
}

footer {
    padding-top: 2em;
    width: 100%;
    bottom: 0;
}